body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  display: grid;
  place-items: center;
  background-color: #0f0f1e;
}

.current-folder > h1 {
  color: #c26bff;
}

.container {
  display: grid;
  grid-template-areas:
    ". add-note-btn ."
    "sidebar . .";
  height: 80vh;
  width: 80vh;
  margin: 5rem;
  border: 1px solid purple;
}

.addNoteBtnContainer {
  place-self: center;
}

.addNoteBtn {
  width: 3rem;
  height: 3rem;
}
