html {
  height: 100%;
  padding: 2rem;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  display: grid;
  place-items: center;
  background-color: #0f0f1e;
  min-height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.current-folder {
  color: #c26bff;
  grid-area: current-folder;
}

.container {
  display: grid;
  grid-template-areas:
    "top-section"
    "bottom-section";
  min-height: 100%;
  max-width: 100%;
  margin: 1rem;
  border: 1px solid purple;
}

.top-section {
  display: inline-grid;
  grid-template-areas: "add-note-btn current-folder";
  grid-area: top-section;
  width: 80vh;
  height: 10vh;
}

.addNoteBtn {
  grid-area: add-note-btn;
  margin-top: 1.5rem;
  margin-left: 5rem;
  width: 2rem;
  height: 2rem;
}

.bottom-section {
  display: grid;
  grid-template-areas: "sidebar item-container";
  grid-area: bottom-section;
  height: 100vh;
}

.sidebar {
  grid-area: sidebar;
  border: 1px solid purple;
  width: auto;
  height: auto;
}

.item-container {
  grid-area: item-container;
  border: 1px solid purple;
  max-width: 100%;
  height: 100vh;
}

.display-item-container {
  display: grid;
  place-items: center;
  border: 1px solid purple;
  max-width: 100%;
  height: 25%;
}

.item-section {
  border: 1px solid red;
  width: 50vh;
  height: 10vh;
  white-space: nowrap;
  overflow: scroll;
  text-overflow: ellipsis;
}

.item-section-text {
  color: white;
  font-size: 10px;
}

.priority-fieldset,
.priority-legend {
  color: white;
}
